@font-face {
	font-family: AKONY;
	font-display: swap;
	src: url("../fonts/AKONY-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Geologica;
	font-display: swap;
	src: url("../fonts/Geologica-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Geologica;
	font-display: swap;
	src: url("../fonts/Geologica-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Geologica;
	font-display: swap;
	src: url("../fonts/Geologica-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Geologica;
	font-display: swap;
	src: url("../fonts/Geologica-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
